/Album.class
/AlbumTableCreators.class
/Artist.class
/CoolFrameWithSomeBS$1.class
/CoolFrameWithSomeBS.class
/Copying.class
/MySqlConnection.class
/SqLiteConnection.class
/TableCreators$AlbumTable.class
/TableCreators$ArtistTable.class
/TableCreators.class
/Track.class
